.accordion__js{
  background-color:  rgb(43, 15, 107);
    margin: 40px 15px;
    padding: 20px 15px;
    border-width: 1px;
    border-radius: 30px;
}
.accordion__title{
  font-size: 30px;
    font-family: Comfortaa;
    text-align: center;
    margin: 15px auto 40px auto;
}

.accordion {
  background-color: rgba(181, 141, 245, 0.541);
  color: #d0c8ff;
  font-size: 18px;
  width: 90%;
  align-items: center;
  margin: 10px 5%;
  cursor: pointer;
  padding: 18px;
  border: none;
  text-align: center;
  outline: none;
}
.panel {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  font-size: 13.5px;
  font-weight: 400;
  text-align: justify;
  transition: max-height 0.3s ease-out;
}
.task3{
  background-color: rgb(43, 15, 107);
}
.accordion__foto{
  width: 90%;
  align-items: center;
  margin: 20px 5%;
  border-width: 1;
  border-radius: 20px;
}